<!-- <app-addition></app-addition> -->
<!-- <app-average></app-average> -->
<!-- <app-herons></app-herons> -->
<!-- <app-binding></app-binding> -->
<!-- <app-product></app-product> -->
<!-- <app-doctor-info></app-doctor-info> -->
<!-- <app-employee-info></app-employee-info> -->
<!-- <app-crud-one></app-crud-one> -->
<!-- <app-fishes></app-fishes> -->
<!-- <app-herons></app-herons> -->
<!-- <app-teacher></app-teacher> -->
<!-- <app-employee></app-employee> -->
<!-- <app-product-info></app-product-info> -->
<!-- <app-new-product></app-new-product> -->
<!-- <app-actor-info></app-actor-info> -->
<!-- <app-city></app-city> -->
<!-- <app-mycalc></app-mycalc> -->
<app-triangle></app-triangle>