<h1>Sum of Two Numbers</h1>

<input type="text"  placeholder="a" [(ngModel)]="a">
<input type="text" placeholder="b" [(ngModel)]="b">
<input type="text" placeholder="c" [(ngModel)]="c">
<input type="text" placeholder="d" [(ngModel)]="d">
<input type="text" placeholder="e" [(ngModel)]="e"><p>/5</p>
<button (click)="average()">Average</button>
<!-- 
<h4>The value of Average is {{a}}</h4>
<h4>The value of Average is {{b}}</h4>
<h4>The value of Average is {{c}}</h4>
<h4>The value of Average is {{d}}</h4>
<h4>The value of Average is {{e}}</h4> -->
