Product Name : <input [(ngModel)]="product_name"><br/>
Product Cost : <input [(ngModel)]="product_cost"><br/>
Product Brand : <input [(ngModel)]="product_brand"><br/>

<button *ngIf="btn_stt" (click)="saveProduct()">Save</button>
<button *ngIf="!btn_stt" (click)="saveProduct()">Update</button>

<hr>
<table>
  <th>Name</th><th>Cost</th><th>Brand</th><th>Action</th>
  <tr *ngFor="let x of products; let i=index">
    <td>{{x.name}}</td>
    <td>{{x.cost}}</td>
    <td>{{x.brand}}</td>
    <td>
      <button (click) = "deleteProduct(i)">Delete</button>
      <button (click) = "editProduct(x)">Edit</button>
    </td>
  </tr>
</table>
